{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}

<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title text-center mb-4">Update Your Resume</h5>

                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="first_name" class="form-label">First Name</label>
                        {% render_field form.first_name class="form-control" %}
                    </div>

                    <div class="mb-3">
                        <label for="surname" class="form-label">Surname</label>
                        {% render_field form.surname class="form-control" %}
                    </div>
                    
                    <div class="mb-3">
                        <label for="location" class="form-label">Location</label>
                        {% render_field form.location class="form-control" %}
                    </div>
                    
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        {% render_field form.title class="form-select" %}
                    </div>

                    <div class="mb-3">
                        <label for="upload_resume" class="form-label">Upload Resume</label>
                        {% render_field form.upload_resume class="form-control" %}
                    </div>

                    <button type="submit" class="btn btn-primary w-100">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
